@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
    background: black;
    transition: all 0.3s linear;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 85%;
    height: 100%;
}

.details {
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px; */
    color: #0080ff;
}

.details h1 {
    font-size: 50px;
    text-align: center;
}

.details h3 {
    font-size: 25px;
    text-align: left;
}

.details .day {
    font-size: 20px;
    text-align: center;
}

.details p {
    color: #fff;
}

.price h3 {
    font-size: 25px;
    color: #0080ff;
    margin: 10px 0;
}

.price p {
    color: #0080ff;
    font-size: 20px;
    margin-right: 500px;
}

.price span {
    color: #666; 
    font-size: 15px;
    text-decoration: line-through;
}

.btn{
    display: inline-block;
    margin: 10px;
    color: #0080ff;
    padding: 10px;
    border: 2px solid #0080ff;
    cursor: pointer;
    font-size: 20px;
    background: rgba(241, 216, 168, 0.2);
    text-decoration: none;
}

.btn:hover{
    color: #fff;
    background: #0080ff;
}